.FooterBar{
    position: absolute;
    bottom: 6px;
    left: 104px;
    right: 5px;
    height: 265px;
    position: absolute;
    z-index: 9999;
    background-color: #F8F8F8;
    border: 1px solid #dadada;
    border-radius: 2px;
    opacity: 0.85;
}

.FooterBar > .filter {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #dadada;
}

.FooterBar .SelectTable{
    display: block;
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    /* border-right: 1px solid #dadada; */
    /* height: 100%; */
}

.FooterBar .table-body {
    position: absolute;
    top: 51px;
    left: 0;
    right: 0;
    bottom: 0;
}

.FooterBar .comp-body {
    position: absolute;
    top: 33px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.FooterBar .SelectTable table {
    width: 100%;
    height: 100px;
    table-layout: fixed;
}

.FooterBar .SelectTable th{
    font-size: 13px;
    border-bottom: 1px solid #eee;
    padding-bottom: 3px;
    background-color: #ededed;
}

.FooterBar .SelectTable tr{
    height: 23px;
    font-size: 13px;
    border-bottom: 1px solid #eee;
    padding-bottom: 3px;
    background-color: #fff;
    text-align: center;
}

#export-btn {
    margin-top: 3px;
    margin-right: 3px;
    float: right;
}

.FooterBar .SelectTable .comp-body::-webkit-scrollbar {
    width: 10px;
}

.FooterBar .SelectTable .comp-body::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.FooterBar .SelectTable .comp-body::-webkit-scrollbar-track {
    background-color: #cfcfcf;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}