.ConfirmerRootList {
    position: absolute;
    top: 50px;
    left: 1410px;
    bottom: 275px;
    width: 500px;
    z-index: 9999;
    background-color: #F8F8F8;
    border: 1px solid #b3b3b3;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    opacity: 0.85;
    height: 460px;
}

.ConfirmerRootList > .body {
    position: absolute;
    top: 33px;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 10px;
    display: block;
    overflow: auto;
    border-bottom-right-radius: 7px;
}

.ConfirmerRootList > .body::-webkit-scrollbar {
    width: 10px;
}

.ConfirmerRootList > .body::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.ConfirmerRootList > .body::-webkit-scrollbar-track {
    background-color: #cfcfcf;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
.ConfirmerRootList > #comp-title {
    border-top-right-radius: 7px;
}
.VisitNode{
    display: block;
    background-color: #fff;
    width: 450px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 8px;
    border-radius: 3px;
    border: 1px solid #eee;
    cursor: pointer;
    padding: 0;
}

.VisitNode > .node-row {
    position: relative;
    border-bottom: 1px solid #eee;
    height: 55px;
    width: 440px;
    float: left;
    font-size: 12px;
    text-align: left;
    padding: 3px 2px 2px 5px;
}

.VisitNode > .node-row-date{
    position: relative;
    height: 30px;
    width: 440px;
    float: left;
    font-size: 12px;
    text-align: left;
    padding: 2px 2px 0px 5px;
}

.VisitNode > .node-row > .elem{
    margin: 5px 5px;
    width: 430px;
    text-align: left;
    display: flex;
    flex-direction: row;
}
.VisitNode > .node-row-date> .elem{
    margin: 5px 5px;
    width: 430px;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.VisitNode >  .node-row > .elem > .val{
    display: block;
    float: left;
    width: 335px;
    margin-left: 15px;
}

.VisitNode >  .node-row > .elem > span{
    font-size: 12px;
}
.VisitNode >  .node-row-date > .elem > .val{
    display: block;
    float: left;
    width: 330px;
    margin-left: 30px;
    margin-top: 2px;
}

.VisitNode >  .node-row-date > .elem > span{
    font-size: 12px;
}
.VisitNode:focus{
    outline: 1px solid #aaa;
}

.VisitNode:hover{
    background-color: #efefef;
}