.ConfirmerInfoList {
    width: 1070px;
    position: absolute;
    top: 50px;
    left: 840px;
    border: 1px solid #b3b3b3;
    border-radius: 7px;
    box-shadow: 0 1px 2px 0 rgba(40,50,60,.06);
    height: 460px;

}
.listview {
    position: absolute;
    width: 550px;
    height: 380px;
    border-radius: 3px;
}

.ConfirmerInfoList > .infoList {
    border-top-left-radius: 7px;
    width: 570px;
    margin: 0;
    height: 460px;
}

.infoList > #comp-title{
    border-top-left-radius: 7px;
}

.listview > .comp-body {
    position: absolute;
    width: 530px;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    
}

.listview table {
    width: 100%;
    border: 1px solid #eee;
    table-layout: fixed;
}

.listview table th{
    font-size: 13px;
    border-bottom: 1px solid #eee;
    padding-bottom: 3px;
    background-color: #ededed;
}
.listview table tr{
    height: 30px;
    background-color: #ededed;
    font-size: 13px;
    border-bottom: 1px solid rgb(199, 188, 188);
    padding: 0;
    background-color: #fff;
    text-align: center;
}
.listview table td{
    padding: 0;
}
.infoList .comp-body::-webkit-scrollbar {
    width: 10px;
}

.infoList .comp-body::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 3px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.infoList .comp-body::-webkit-scrollbar-track {
    background-color: #cfcfcf;
    border-radius: 3px;
    box-shadow: inset 0px 0px 5px white;
}
.infoList > .body {
    position: absolute;
    width: 550px;
    top: 33px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 425px;
    padding-left: 20px;
}

.reg_btn {
    margin: 10px 20px 0 410px;
    cursor: pointer;
}

.listview .wrap-btn{
    font-weight: bold;
    font-size: 14px;
    position: relative;
    background-color: #fff;
    border: none;
    margin: 0;
    cursor: pointer;
    text-align: center;
    padding: 0;
    width: 100%;
}
.wrap-btn .btn-label{
    padding: 0 0 5px 0;
}

.wrap-btn:focus{
    outline: 1px solid #aaa;
}
.wrap-btn:hover{
    background-color: #efefef;
}


