.confirmerInfoAdd {
    width: 720px;
    position: absolute;
    top: 50px;
    left: 106px;
    border: 1px solid #b3b3b3;
    border-radius: 7px;
    box-shadow: 0 1px 2px 0 rgba(40,50,60,.06);
    height: 460px;
}

.confirmerInfoAdd .radioButton_gender {
    margin-left:160px;
}

.radioButton_gender > #femaleRd{
    margin-left:150px;
}
.visit{
    margin-bottom: 0px;
}
.confirmerInfoAdd .datepicker_form {
    margin-left: 160px;
    display: flex;
    flex-direction: row;
    margin-top: -3px;
}

.datepicker_form > .calender_icon {
    position: absolute;
    margin-left: 155px;
    margin-top: 5px;
}

.datepicker_form input {
    cursor: pointer;
}