.Header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;   
    height: 45px;
    z-index: 9998;
    border-bottom: 1px solid #a9afb4;
    box-shadow: 0 1px 2px 0 rgba(40,50,60,.06);
    background: #f9f9f9;
}

.Header > .logo {
    position: absolute;
    width: 100px;
    height: 45px;
    border-right: 1px solid #cdcdcd;
    text-align: center;
}

.Header > .title {
    left: 101px;
    position: absolute;
    width: 250px;
    height: 45px;
    text-align: center;
    font-weight: bolder;
}

.Header > button {
    background-color: #217BBF;
    color: #fff;
    float: right;
    display: block;
    height: 45px;
    width: 45px;
    outline: none;
    border: 0;
    cursor: pointer;
}

.Header > .logo > img {
    display: block;
    margin: 0 auto;
    padding-top: 8px;
    width: 80px;
}