.InputItem{
    padding: 0;
    position: relative;
    padding: 7px 0 10px 160px;
}

.InputItem .input-title{
    position: absolute;
    color: rgb(51,51,51);
    top: 7px;
    left: 0;
    padding: 0 0 0 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.input-title label{
    position: relative;
    color: rgb(126, 126, 126);
    top: 10px;
    left: 0;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.must .input-title::after{
    position: absolute;
    top: 10px;
    right: -8px;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: rgb(255,86,64);
    content: '';
}

.InputItem .input-element{
    font-size: 15px;
    color: rgb(102,102,102);
    padding-top: 7px;
}

.InputItem .input-element input{
    padding: 1px 11px 0;
    display: block;
    width: 300px;
    font-size: 12px;
    background: transparent;
    line-height: 18px;
    border: 1px solid rgb(216,216,216);
    border-radius: 2px;
    height: 28px;
    outline: 0 none;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;
    color: rgb(51,51,51);
    resize: none;    
    word-wrap: break-word;
    word-break: break-all;
}

.gray{
    background-color: gray;
}